body{
  font-family: Roboto, Arial, sans-serif;
}


a:link, a:hover, a:active, a:visited{
    text-decoration: none;
    color:  rgb(96, 96, 96);
}



.second-title{
  font-size:14px;
  color: rgb(96, 96, 96);

}

main-title{
  color: rgb(3, 3, 3);
  font-size: 18px;
  font-weight: bold;
}

.subtitle-video{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:auto;

}

.button{
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 1;
  grid-row-end: 2;
  color: #606060;
  font-size: 13px;
  display:flex;
  align-items: top;

}
.material-icons{
  vertical-align: middle;
}


.video-title{
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 1;
  grid-row-end: 2;
}


nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    display: grid;
    grid-template-columns: 25% auto 25% ;
    grid-template-rows:56px;

}

.menu-icon{
  vertical-align: middle;
}




.yt-logo{
    width: 110px;
    height: 24px;
    vertical-align: middle;
}

.user{
    width: 34px;
    display: inline-block;
    border-radius: 50%;
}


.container{
  grid-template-columns: 33.333% auto 33.3333% ;
  grid-template-rows:56px;
  padding: 0 2%;
}

.left-nav{
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: inline-block;
  margin-right: auto;

}


.center-nav{
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: inline-block;
  margin: auto;
  width: 100%;
}


.right-nav{
  grid-column-start: 3;
  grid-column-end:4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: inline-block;
  margin-left: auto;
}

.material-icons{
  display:inline-block;
  padding: 0  12px;
  color: grey;
}



.search-button{
  width: 65px;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 18px;
  height: 28px;
}

.search-input{
  border-right: none;
  border-top: solid 1px gray;
  border-left: solid 1px gray;
  border-bottom: solid 1px gray;
  height: 23px;
  vertical-align: middle;
  width:60%;
  display: inline-block;
  margin-bottom: 18px;

}



img[$"search"]{
  width:24px;
  height: 24px;
}

.pageContent{
   width: 80%;
   margin: auto;
   grid-template-columns: 70% auto;
   grid-template-rows:600px 400px 200px;
   display:grid;
   grid-gap:20px;
}

.display-video{
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 1;
  grid-row-end: 2;

}

.recomendedVideos{
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 1;
  grid-row-end: 4;

  display: grid;
  grid-template-columns: 40% auto ;
  grid-template-rows: 40px repeat(3,168px);
  align-items: stretch;
  grid-gap:10px;
}

.videoTumb{
  grid-column-start: 1;
  grid-column-end:2;
}
.videoTumb > img{
  width: 100%;
}

.autoplayButtons{
  grid-column-start: 2;
  grid-column-end:3;
  text-align: right;
  vertical-align: middle;
}
.autoplayButtons > img {
  width: 30px;
  display: inline;
  vertical-align: middle;
  padding-top: 5px;
}

.autoplayButtons > span {
  width: 30px;
  display: inline;
  vertical-align: middle;
  padding-top: 5px;
}



.nextV{

  grid-column-start: 1;
  grid-column-end:2;
  display: flex;
  align-items: center;

}

.nextVideoInfo{
  width: 100%;
  grid-column-start: 2;
  grid-column-end:3;
  line-height: 10px;
}

.channel-info{
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 2;
  grid-row-end: 3;
  line-height: 0px;
}

.button-subscribe-div{
  grid-column-start: 3;
  grid-column-end:4;
  grid-row-start: 1;
  grid-row-end: 2;

}



.subscribe-button{
  color: white;
  background-color:#d50000;
  border-radius: 2px;
  border:none;
  padding: 10px 16px;

}


.commentSection{
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.channel{
  display: grid;
  grid-template-columns: 10% auto 15% ;
  grid-template-rows: 95px 100px 40px;
  grid-gap:10px;
  align-items: start;
  justify-items:start;
}

.channel-logo{
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 1;
  grid-row-end: 2;

}

.verifiedChannelIcon{
  font-size: 13px;
  padding: 0  5px;
}

.channel-info{
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: table;
  height:  100%;
  width:   100%;

}

.channel-info > h2{
  display: table-cell;
  vertical-align: top;
  margin-bottom: 5px;
}
.channel-info > p{
  display: table-cell;
  vertical-align: top;
}

.channel-info > h4{
  margin-bottom: 10px;
}



.videoDescription{
  grid-column-start: 1;
  grid-column-end:4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.commentMenu{
  display:grid;
  grid-template-columns: 30% auto ;
  grid-template-rows: 50px;

}
commentNumber{
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.button{
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 1;
  grid-row-end: 2;

}







iframe{
  width: 100%;
  height: 500px;
}

.small-text{
  font-size:13px;
  color: rgb(96, 96, 96);
}
